.nav-logo {
    background: #ffc107;
    padding: 20px;
    font-weight: bolder;
    color: #000;
}

.nav-brand {
    font-weight: bolder;
}

.cover {
    height: 500px;
    width: 100%;
    background-size: cover;
    display: table;
    background-attachment: fixed;
    background: #49b3e8;
    margin-bottom: 20px;
}

.search-heading {
    padding-top: 80px;
    font-weight: bolder;
    color: #fff;
}

.search-filter-label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: bold;
    color: #fff;
}

.search-bar {
    font-size: 1.50em;
    font-weight: bold;
    border: none;
}

.search-btn {
    font-weight: 600;
    margin-top: 10px;
}

.search-results-text {
    margin: 20px 0px;
}

.result-item {
    margin-bottom: 25px;
}

.result-sub-title {
    font-weight: bold;
    color: gray;
    margin-top: -10px;
    margin-bottom: 15px;
}

.total-results-text {
    font-weight: 400 !important;
}

.no-results-text {
    color: #cccc;
    text-align: center;
    margin: 50px;
}